<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Baccarat_banel_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,397},{214,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,39}}</string>
                <key>sourceSize</key>
                <string>{214,39}</string>
            </dict>
            <key>Baccarat_banker_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{381,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,107}}</string>
                <key>sourceSize</key>
                <string>{381,107}</string>
            </dict>
            <key>Baccarat_banking_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{272,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,118}}</string>
                <key>sourceSize</key>
                <string>{272,118}</string>
            </dict>
            <key>Baccarat_bc_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,882},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_chip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,802},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_chip_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,724},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_chip_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,882},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,802},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,724},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_chip_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,895},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_bc_circle_big_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,755},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,243},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_bp.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,681},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,447},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,447},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_pp.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,702},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,975},{18,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_bc_circle_big_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,735},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Baccarat_btn_back_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,368},{271,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,55}}</string>
                <key>sourceSize</key>
                <string>{271,55}</string>
            </dict>
            <key>Baccarat_btn_back_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{271,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,55}}</string>
                <key>sourceSize</key>
                <string>{271,55}</string>
            </dict>
            <key>Baccarat_btn_cancelzhuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,513},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{154,55}</string>
            </dict>
            <key>Baccarat_btn_cancelzhuang_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,511},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{154,55}</string>
            </dict>
            <key>Baccarat_btn_cancelzhuang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,454},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{154,55}</string>
            </dict>
            <key>Baccarat_btn_ludan_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,595},{84,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>Baccarat_btn_ludan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,509},{84,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>Baccarat_btn_ludan_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,838},{84,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,55}}</string>
                <key>sourceSize</key>
                <string>{84,55}</string>
            </dict>
            <key>Baccarat_btn_reqzhuang_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,397},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{154,55}</string>
            </dict>
            <key>Baccarat_btn_reqzhuang_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,357},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{154,55}</string>
            </dict>
            <key>Baccarat_btn_reqzhuang_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,216},{154,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,55}}</string>
                <key>sourceSize</key>
                <string>{154,55}</string>
            </dict>
            <key>Baccarat_comp_banker_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,646},{92,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>Baccarat_comp_draw_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,641},{92,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>Baccarat_comp_player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,509},{92,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,54}}</string>
                <key>sourceSize</key>
                <string>{92,54}</string>
            </dict>
            <key>Baccarat_conclute.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{414,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,150}}</string>
                <key>sourceSize</key>
                <string>{414,150}</string>
            </dict>
            <key>Baccarat_conclute_banker_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,453},{112,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,54}}</string>
                <key>sourceSize</key>
                <string>{112,54}</string>
            </dict>
            <key>Baccarat_conclute_draw_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,702},{86,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{112,54}</string>
            </dict>
            <key>Baccarat_conclute_player_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,397},{112,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,54}}</string>
                <key>sourceSize</key>
                <string>{112,54}</string>
            </dict>
            <key>Baccarat_current_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{272,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,118}}</string>
                <key>sourceSize</key>
                <string>{272,118}</string>
            </dict>
            <key>Baccarat_di_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,758},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_di_chip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,669},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_di_chip_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,643},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_di_chip_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,646},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_di_chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,565},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_di_chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,568},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_di_chip_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,568},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,76}}</string>
                <key>sourceSize</key>
                <string>{78,76}</string>
            </dict>
            <key>Baccarat_game_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,313},{265,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,82}}</string>
                <key>sourceSize</key>
                <string>{265,82}</string>
            </dict>
            <key>Baccarat_game_draw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{393,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,151}}</string>
                <key>sourceSize</key>
                <string>{393,151}</string>
            </dict>
            <key>Baccarat_game_draw_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{393,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,114}}</string>
                <key>sourceSize</key>
                <string>{393,114}</string>
            </dict>
            <key>Baccarat_game_king.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,799},{265,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,114}}</string>
                <key>sourceSize</key>
                <string>{265,114}</string>
            </dict>
            <key>Baccarat_game_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{265,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,151}}</string>
                <key>sourceSize</key>
                <string>{265,151}</string>
            </dict>
            <key>Baccarat_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,276},{300,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,35}}</string>
                <key>sourceSize</key>
                <string>{300,35}</string>
            </dict>
            <key>Baccarat_player_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,915},{278,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,92}}</string>
                <key>sourceSize</key>
                <string>{278,92}</string>
            </dict>
            <key>Baccarat_record_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{602,116}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{602,116}}</string>
                <key>sourceSize</key>
                <string>{620,124}</string>
            </dict>
            <key>Baccarat_record_player.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{602,94}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{602,94}}</string>
                <key>sourceSize</key>
                <string>{620,124}</string>
            </dict>
            <key>Baccarat_room_default_m0.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,723},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>Baccarat_room_info_ico_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,669},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{21,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Baccarat_room_info_ico_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,216},{23,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Baccarat_room_info_ico_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,613},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{21,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>Baccarat_room_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{417,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,51}}</string>
                <key>sourceSize</key>
                <string>{417,51}</string>
            </dict>
            <key>Baccarat_time_bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,313},{132,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,38}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>Baccarat_time_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,315},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>Baccarat_time_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,273},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameBaccarat.png</string>
            <key>size</key>
            <string>{862,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b7fd308a646af6e3b303453d549f12:0d96348a2cf3098dc685634358049e28:3a4d2b3479197fb1811da65602d502cc$</string>
            <key>textureFileName</key>
            <string>GameBaccarat.png</string>
        </dict>
    </dict>
</plist>
