<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bat_x1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>147</integer>
			<key>width</key>
			<integer>606</integer>
			<key>height</key>
			<integer>41</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>606</integer>
			<key>originalHeight</key>
			<integer>41</integer>
		</dict>
		<key>battle0.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>49</integer>
			<key>width</key>
			<integer>640</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>640</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>battle2.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>439</integer>
			<key>height</key>
			<integer>47</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>439</integer>
			<key>originalHeight</key>
			<integer>47</integer>
		</dict>
	</dict>
</dict>
</plist>