<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DZPoker/addscore_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,586}}</string>
                <key>sourceSize</key>
                <string>{283,586}</string>
            </dict>
            <key>DZPoker/b_poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,510},{73,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,102}}</string>
                <key>sourceSize</key>
                <string>{73,102}</string>
            </dict>
            <key>DZPoker/btn_addscore_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,229},{114,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,76}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>DZPoker/btn_addscore_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,128},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_addscore_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,432},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_addscore_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,117},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>DZPoker/btn_addscore_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,354},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_addscore_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,341},{110,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>DZPoker/btn_addscore_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,229},{110,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>DZPoker/btn_addscore_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,518},{110,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>DZPoker/btn_addscore_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,518},{110,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,72}}</string>
                <key>sourceSize</key>
                <string>{110,72}</string>
            </dict>
            <key>DZPoker/btn_follow_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,128},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_follow_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,128},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_follow_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,50},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_giveup_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,128},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_giveup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,440},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_giveup_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,362},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_pass_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,284},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_pass_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,206},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/btn_pass_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,128},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>DZPoker/game_info_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,50},{286,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,48}}</string>
                <key>sourceSize</key>
                <string>{286,48}</string>
            </dict>
            <key>DZPoker/game_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,50},{286,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,48}}</string>
                <key>sourceSize</key>
                <string>{286,48}</string>
            </dict>
            <key>DZPoker/pic_card_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,556},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,100},{275,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,26}}</string>
                <key>sourceSize</key>
                <string>{275,26}</string>
            </dict>
            <key>DZPoker/pic_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,510},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,403},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,556},{54,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,345},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,541},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,186},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,554},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{63,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{71,24}</string>
            </dict>
            <key>DZPoker/pic_card_type_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{100,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,22}}</string>
                <key>sourceSize</key>
                <string>{100,22}</string>
            </dict>
            <key>DZPoker/pic_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,354},{119,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,125}}</string>
                <key>sourceSize</key>
                <string>{119,125}</string>
            </dict>
            <key>DZPoker/poker_back_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,481},{73,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,102}}</string>
                <key>sourceSize</key>
                <string>{73,102}</string>
            </dict>
            <key>DZPoker/spr_slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{549,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,46}}</string>
                <key>sourceSize</key>
                <string>{549,46}</string>
            </dict>
            <key>DZPoker/spr_slider_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,50},{543,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{543,40}}</string>
                <key>sourceSize</key>
                <string>{549,46}</string>
            </dict>
            <key>DZPoker/spr_slider_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>DZPoker/tip_pic_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,453},{80,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>DZPoker/tip_pic_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,104},{80,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>DZPoker/tip_pic_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,497},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>DZPoker/tip_pic_notadd.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,481},{80,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>DZPoker/tip_pic_showhand.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,510},{80,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameDZPokerRes.png</string>
            <key>size</key>
            <string>{1019,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcbe62ba417a383b2a64ab8168d5ece2:795361f574b8e581008a18d30b11c65c:9b0609b352062bfb02af7029713bffec$</string>
            <key>textureFileName</key>
            <string>GameDZPokerRes.png</string>
        </dict>
    </dict>
</plist>
