<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZaJinHua/Animations/vs_card_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{107,348}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{107,348}}</string>
                <key>sourceSize</key>
                <string>{111,348}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{101,348}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{101,348}}</string>
                <key>sourceSize</key>
                <string>{111,348}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,348}}</string>
                <key>sourceSize</key>
                <string>{111,348}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_qiu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,510},{97,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,164}}</string>
                <key>sourceSize</key>
                <string>{97,164}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_qiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,411},{97,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,164}}</string>
                <key>sourceSize</key>
                <string>{97,164}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_qiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,312},{97,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,164}}</string>
                <key>sourceSize</key>
                <string>{97,164}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_qiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,213},{97,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,164}}</string>
                <key>sourceSize</key>
                <string>{97,164}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_qiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,681},{97,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,164}}</string>
                <key>sourceSize</key>
                <string>{97,164}</string>
            </dict>
            <key>ZaJinHua/Animations/vs_qiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,681},{97,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,164}}</string>
                <key>sourceSize</key>
                <string>{97,164}</string>
            </dict>
            <key>ZaJinHua/GameCard_BG_FAILED.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ZaJinHua/GameCard_BG_FAILED_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ZaJinHua/GameCard_BG_GRAY.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ZaJinHua/GameCard_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{151,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,209}}</string>
                <key>sourceSize</key>
                <string>{151,209}</string>
            </dict>
            <key>ZaJinHua/bnt_add_5_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,837},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/bnt_add_5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,759},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/bnt_add_5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,681},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_add_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,686},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_add_1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,603},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_add_1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,603},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_add_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,525},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_add_2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,447},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_add_2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,525},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_auto_follow_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,213},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ZaJinHua/btn_auto_follow_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,213},{244,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,76}}</string>
                <key>sourceSize</key>
                <string>{244,76}</string>
            </dict>
            <key>ZaJinHua/btn_compare_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,709},{166,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,77}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>ZaJinHua/btn_compare_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,705},{166,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,77}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>ZaJinHua/btn_follow_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,369},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_follow_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,447},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_follow_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,369},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_giveup_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,702},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_giveup_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,291},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_giveup_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,291},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>ZaJinHua/btn_look_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,537},{166,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,77}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>ZaJinHua/btn_look_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,369},{166,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{166,77}}</string>
                <key>sourceSize</key>
                <string>{170,79}</string>
            </dict>
            <key>ZaJinHua/cell_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,847},{172,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,74}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>ZaJinHua/game_info_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{286,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,48}}</string>
                <key>sourceSize</key>
                <string>{286,48}</string>
            </dict>
            <key>ZaJinHua/game_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{286,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,48}}</string>
                <key>sourceSize</key>
                <string>{286,48}</string>
            </dict>
            <key>ZaJinHua/jetton_view_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,944},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,877},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,873},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,783},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,709},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/jetton_view_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,928},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>ZaJinHua/look_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,609},{114,98}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{114,98}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,855},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,352},{275,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,26}}</string>
                <key>sourceSize</key>
                <string>{275,26}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,799},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,743},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,687},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,877},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,291},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/pic_card_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,629},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>ZaJinHua/text_system_opencard.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,352},{332,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{332,56}}</string>
                <key>sourceSize</key>
                <string>{334,56}</string>
            </dict>
            <key>ZaJinHua/tip_pic_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,857},{76,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,40}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>ZaJinHua/tip_pic_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,80},{76,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,40}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>ZaJinHua/tip_pic_follow.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,609},{76,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,40}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
            <key>ZaJinHua/tip_pic_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{76,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{82,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameZaJinHuaRes.png</string>
            <key>size</key>
            <string>{894,1011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0a72a6bab38ef0c8b636f5ee55f39e7:b4fddf26af25094b03785b6183fffa25:47a8ee4116f6588cb6171953d9d2c28b$</string>
            <key>textureFileName</key>
            <string>GameZaJinHuaRes.png</string>
        </dict>
    </dict>
</plist>
