<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,76},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{61,76},{65,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{128,77},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{188,77},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,93},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{61,93},{63,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{55,14}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{167,61},{55,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_164.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{126,94},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_165.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{186,94},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_182.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{1,110},{65,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_186.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{52,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{229,16},{52,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>b_190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{124,111},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_191.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{184,111},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_192.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,127},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_193.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{59,15}</string>
                <key>spriteSourceSize</key>
                <string>{67,15}</string>
                <key>textureRect</key>
                <string>{{61,127},{59,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_194.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{57,1},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_195.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{122,128},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_196.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{113,1},{60,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_197.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{60,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{175,1},{60,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_198.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{61,281},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_199.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{124,281},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{182,128},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,144},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{121,145},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,16},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{61,144},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{183,145},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{57,16},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,161},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{121,162},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{113,16},{58,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{181,162},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{173,16},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,178},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{61,178},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,31},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{57,31},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{121,179},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{113,31},{58,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{183,179},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,195},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{61,195},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{121,196},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{181,196},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,212},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{173,31},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{121,213},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{183,213},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{187,281},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{56,299},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,46},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,229},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{61,212},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{68,110},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{52,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{57,46},{52,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{63,230},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{123,230},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{183,230},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{119,299},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,246},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{111,46},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{58,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{167,46},{58,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{63,247},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{52,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,61},{52,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{55,61},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{182,299},{61,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{54,13}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{111,61},{54,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{125,247},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_77.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{53,16}</string>
                <key>spriteSourceSize</key>
                <string>{61,16}</string>
                <key>textureRect</key>
                <string>{{1,297},{53,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{187,247},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,263},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{61,264},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{121,264},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{183,264},{60,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{56,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{63,161},{56,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,15}</string>
                <key>spriteSourceSize</key>
                <string>{60,15}</string>
                <key>textureRect</key>
                <string>{{1,280},{58,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hxsgBody.png</string>
            <key>size</key>
            <string>{249,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54a8db350bba4d69634020d313593273:d26828a923d98423667ef6fa54e4a087:eef482dfbe783d64bc3f4ef7273560f5$</string>
            <key>textureFileName</key>
            <string>hxsgBody.png</string>
        </dict>
    </dict>
</plist>
