<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>du.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>feng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{14,0},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,19}</string>
                <key>spriteSourceSize</key>
                <string>{16,19}</string>
                <key>textureRect</key>
                <string>{{28,0},{16,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,19}</string>
                <key>spriteSourceSize</key>
                <string>{13,19}</string>
                <key>textureRect</key>
                <string>{{44,0},{13,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{57,0},{14,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>su.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,19}</string>
                <key>spriteSourceSize</key>
                <string>{15,19}</string>
                <key>textureRect</key>
                <string>{{71,0},{15,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,18}</string>
                <key>textureRect</key>
                <string>{{86,0},{17,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{103,0},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff.png</string>
            <key>size</key>
            <string>{117,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66fe844c8d20243d20b9fffafaf42b08:9d629a0ffe9eee6c29bcddd7c25d2ee3:24dc121a0f32ac648be09fd15ea2e505$</string>
            <key>textureFileName</key>
            <string>buff.png</string>
        </dict>
    </dict>
</plist>
