<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icgoods038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{961,59},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{962,1},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1208,1},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{40,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1085,57},{40,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1181,55},{50,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{813,1},{56,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1244,1},{40,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1316,1},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,49}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1230,53},{30,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{36,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1293,50},{36,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1052,1},{54,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{28,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1286,1},{28,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{1331,45},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1100,1},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{996,1},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1127,55},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1154,1},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{59,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{117,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{117,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{175,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{175,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{233,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{233,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{291,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{291,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{349,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{349,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{407,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{407,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{465,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods209.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{465,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{523,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods214.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,46}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{867,59},{56,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods217.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{523,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods218.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{581,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods219.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{581,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{639,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{639,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods234.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{1262,50},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods235.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{995,59},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods240.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{697,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods241.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{697,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods242.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{755,1},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods253.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{755,59},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods267.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{870,1},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods268.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{915,59},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods269.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,44}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{916,1},{56,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icgoods270.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1029,57},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icgoods271.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{813,59},{56,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{1370,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dd85d19f1c5cefd90f110966b76337c:924955014bd81fea411010451a863eb3:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
