<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sparrow/Animations/dice_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,818},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Sparrow/Animations/dice_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,954},{62,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Sparrow/Animations/dice_frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,750},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Sparrow/Animations/dice_frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,830},{64,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Sparrow/Animations/dice_frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,944},{62,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Sparrow/Animations/dice_frame_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,864},{64,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>Sparrow/Card/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,279},{36,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,944},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,944},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,954},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,896},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,768},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,776},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,714},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,652},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>Sparrow/Card/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,576},{78,98}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{78,98}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,430},{14,86}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,14},{14,86}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,587},{50,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{50,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,931},{44,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{44,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,497},{50,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{50,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,407},{50,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{50,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,886},{56,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{56,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,189},{54,88}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{54,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,873},{56,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{56,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/21.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,676},{72,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{72,72}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/22.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,432},{38,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{38,84}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/23.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,413},{66,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{66,86}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/24.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,931},{62,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{62,84}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,869},{62,84}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{62,84}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/26.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,317},{50,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{50,88}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/27.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,501},{72,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{72,94}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/28.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,781},{48,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{48,90}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/29.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,325},{68,86}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{68,86}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>Sparrow/Card/31.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,816},{42,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>Sparrow/Card/32.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,570},{40,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
            <key>Sparrow/Card/33.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,768},{42,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{42,34}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>Sparrow/Card/34.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,612},{40,38}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>Sparrow/Card/35.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,518},{38,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{38,50}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>Sparrow/Card/36.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,737},{50,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>Sparrow/Card/37.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,342},{40,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{40,52}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>Sparrow/angang_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,861},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>Sparrow/angang_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,814},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>Sparrow/anim_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,677},{50,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,58}}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
            <key>Sparrow/bn_grab_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,80},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Sparrow/btn_ting_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Sparrow/room_bt_chi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,720},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_chi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,672},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_chi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_gang_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,693},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_gang_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,624},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_gang_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,576},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_hu_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_hu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,597},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_hu_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,528},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_peng_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,432},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_peng_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_peng_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,474},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_qi_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,372},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_qi_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,270},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/room_bt_qi_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,168},{94,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,100}}</string>
                <key>sourceSize</key>
                <string>{94,100}</string>
            </dict>
            <key>Sparrow/text_anim_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,185}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{264,185}}</string>
                <key>sourceSize</key>
                <string>{272,189}</string>
            </dict>
            <key>Sparrow/text_anim_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{82,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Sparrow/text_anim_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,486},{84,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{84,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Sparrow/text_anim_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,86},{80,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Sparrow/text_anim_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,158},{222,124}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{222,124}}</string>
                <key>sourceSize</key>
                <string>{254,140}</string>
            </dict>
            <key>Sparrow/text_anim_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,933},{86,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{86,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Sparrow/text_anim_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,396},{84,88}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,88}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>Sparrow/text_anim_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,284},{180,102}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,5},{180,102}}</string>
                <key>sourceSize</key>
                <string>{236,114}</string>
            </dict>
            <key>Sparrow/text_pao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{116,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,77}}</string>
                <key>sourceSize</key>
                <string>{116,79}</string>
            </dict>
            <key>Sparrow/tingicon_myself.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,388},{140,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,42}}</string>
                <key>sourceSize</key>
                <string>{140,42}</string>
            </dict>
            <key>Sparrow/tingicon_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,896},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Sparrow/user_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>Sparrow/user_bottom_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,789},{70,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,100}}</string>
                <key>sourceSize</key>
                <string>{70,100}</string>
            </dict>
            <key>Sparrow/user_font_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>Sparrow/user_font_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{103,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{103,138}}</string>
                <key>sourceSize</key>
                <string>{109,138}</string>
            </dict>
            <key>Sparrow/user_info_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{134,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{134,208}}</string>
                <key>sourceSize</key>
                <string>{146,218}</string>
            </dict>
            <key>Sparrow/user_outcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,933},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,86}}</string>
                <key>sourceSize</key>
                <string>{64,86}</string>
            </dict>
            <key>Sparrow/user_smallfont_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,816},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Sparrow/user_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,284},{40,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSparrowRes.png</string>
            <key>size</key>
            <string>{588,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37fa37213a1fcc522563e5e292abd25a:4d9776f52920a613dc3fefe9279d232d:b7bcfa114d5f7c16de273c71e2a05a4a$</string>
            <key>textureFileName</key>
            <string>GameSparrowRes.png</string>
        </dict>
    </dict>
</plist>
