<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatBtnBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,30}</string>
                <key>spriteSourceSize</key>
                <string>{172,30}</string>
                <key>textureRect</key>
                <string>{{0,68},{172,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chatTs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,53}</string>
                <key>spriteSourceSize</key>
                <string>{90,53}</string>
                <key>textureRect</key>
                <string>{{118,0},{90,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hybut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,18}</string>
                <key>spriteSourceSize</key>
                <string>{69,18}</string>
                <key>textureRect</key>
                <string>{{49,0},{69,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quxiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,29}</string>
                <key>spriteSourceSize</key>
                <string>{92,29}</string>
                <key>textureRect</key>
                <string>{{208,0},{92,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,30}</string>
                <key>spriteSourceSize</key>
                <string>{95,30}</string>
                <key>textureRect</key>
                <string>{{300,0},{95,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,68}</string>
                <key>spriteSourceSize</key>
                <string>{49,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speakPage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,532}</string>
                <key>spriteSourceSize</key>
                <string>{399,532}</string>
                <key>textureRect</key>
                <string>{{0,98},{399,532}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{399,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed6b7535b13770e1f81b153423d2ba1:2eef761147854918e6c9570d9a4c90fc:560f0423db1a1e46e68995a55a406f35$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
