<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n1_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>n1n_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>n2_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{15,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>n2n_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{19,17}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>n3_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{17,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>n3n_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{19,19}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r1_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r1_h50.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r1n_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{19,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r1n_h50.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r1z_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r1zn_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r2_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{19,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r2_h50.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{19,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r2n_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{19,17}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r2n_h50.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{19,17}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{19,17}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r2z_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r2zn_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r3_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{19,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r3_h50.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{19,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r3n_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{21,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r3n_h50.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r3z_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>r3zn_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>head.png</string>
            <key>size</key>
            <string>{497,25}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42216db0d75bc894d62e4c52ff137df:f4c6b18cc81f7d54a11a2a5ff7e73d93:28fe17bf3caa179e0366caf86367cd83$</string>
            <key>textureFileName</key>
            <string>head.png</string>
        </dict>
    </dict>
</plist>
