<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>n1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{56,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,15}}</string>
                <key>sourceSize</key>
                <string>{60,15}</string>
            </dict>
            <key>n1_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,19},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>n1n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{52,11}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{52,11}}</string>
                <key>sourceSize</key>
                <string>{60,15}</string>
            </dict>
            <key>n1n_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,20},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>n2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>n2_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,19},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>n2n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{53,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{53,14}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>n2n_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,19},{26,9}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>n3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,15}}</string>
                <key>sourceSize</key>
                <string>{67,15}</string>
            </dict>
            <key>n3_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,19},{28,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,8}}</string>
                <key>sourceSize</key>
                <string>{28,8}</string>
            </dict>
            <key>n3n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{61,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{67,15}</string>
            </dict>
            <key>n3n_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,19},{28,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,8}}</string>
                <key>sourceSize</key>
                <string>{28,8}</string>
            </dict>
            <key>r1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{60,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,15}}</string>
                <key>sourceSize</key>
                <string>{60,15}</string>
            </dict>
            <key>r1_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,20},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>r1n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{58,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,15}}</string>
                <key>sourceSize</key>
                <string>{60,15}</string>
            </dict>
            <key>r1n_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,19},{37,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,10}}</string>
                <key>sourceSize</key>
                <string>{37,10}</string>
            </dict>
            <key>r2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{61,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,16}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>r2_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,19},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>r2n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,18},{53,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,12}}</string>
                <key>sourceSize</key>
                <string>{61,16}</string>
            </dict>
            <key>r2n_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,19},{28,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,9}}</string>
                <key>sourceSize</key>
                <string>{28,9}</string>
            </dict>
            <key>r3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,15}}</string>
                <key>sourceSize</key>
                <string>{67,15}</string>
            </dict>
            <key>r3_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,19},{28,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,8}}</string>
                <key>sourceSize</key>
                <string>{28,8}</string>
            </dict>
            <key>r3n_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{61,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{61,15}}</string>
                <key>sourceSize</key>
                <string>{67,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body.png</string>
            <key>size</key>
            <string>{495,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c1a2ded5cf35f98f283aca081b06076:32aec0af78b2939348b7cef0523c4d7a:cf7eb93a918df2387d133e40f2ae67b4$</string>
            <key>textureFileName</key>
            <string>body.png</string>
        </dict>
    </dict>
</plist>
