<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ox/btn_addscore_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,901},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_addscore_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,823},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_addscore_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,597},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_banker_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,597},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_banker_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,597},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_banker_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,215},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_cancel_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,215},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_cancel_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,218},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_cancel_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,600},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_look_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,137},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/btn_look_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,59},{224,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,76}}</string>
                <key>sourceSize</key>
                <string>{224,76}</string>
            </dict>
            <key>Ox/cellscore_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,501},{196,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,40}}</string>
                <key>sourceSize</key>
                <string>{196,40}</string>
            </dict>
            <key>Ox/center_text_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{475,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{475,55}}</string>
                <key>sourceSize</key>
                <string>{477,55}</string>
            </dict>
            <key>Ox/pic_start_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{270,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,157}}</string>
                <key>sourceSize</key>
                <string>{270,157}</string>
            </dict>
            <key>Ox/text_call_banker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,218},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_call_banker_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,600},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_call_banker_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,218},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_open_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,600},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_open_card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,218},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_open_card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,600},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_wait_bet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,218},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_wait_bet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/text_wait_bet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{380,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,45}}</string>
                <key>sourceSize</key>
                <string>{380,45}</string>
            </dict>
            <key>Ox/tip_pic_ox_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,901},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,977},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,979},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,979},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,543},{68,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,979},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,543},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,939},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,543},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,826},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,901},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,982},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,982},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>Ox/tip_pic_ox_bg_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,444},{189,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,55}}</string>
                <key>sourceSize</key>
                <string>{189,55}</string>
            </dict>
            <key>Ox/tip_pic_ox_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,406},{189,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,55}}</string>
                <key>sourceSize</key>
                <string>{189,55}</string>
            </dict>
            <key>Ox/tip_pic_ox_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,215},{189,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,55}}</string>
                <key>sourceSize</key>
                <string>{189,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameOxRes.png</string>
            <key>size</key>
            <string>{528,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28dafd278a72984cfe73d22bdbe3fc8c:5ed7ae9bb32ea8573ab0f434dca5bf0a:437165cb4e8b00e04608194d294f653c$</string>
            <key>textureFileName</key>
            <string>GameOxRes.png</string>
        </dict>
    </dict>
</plist>
